# Исключить файлы .pyc
Lesson2/Lesson2/__pycache__/urls.cpython-312.pyc
Lesson2/main/__pycache__/urls.cpython-312.pyc
Lesson2/main/__pycache__/views.cpython-312.pyc

# Исключить всю папку LessonsDjango
LessonsDjango/
